{% extends 'layout/basic.html' %}


{% block title %}All posts of author: {{ current_author.username }}{% endblock %}
{% block content %}
<h2>Author:  {{current_author.username}}</h2>
 
    <!-- {% for post in posts %} -->
        <!-- <div> -->
            <!-- <hr style="color: gold;"> -->
            <!-- <h3>{{ post.title }}</h3> -->
            <!-- <p>{{ post.content }}</p> -->
            <!-- <p>Published: {{ post.published|date:'d.m.Y H.i.s' }}</p> -->
            <!-- <p><a href="{% url 'by_category' post.category.pk %}">{{ post.category.category_name }}</a></p> -->
<!--              -->
        <!-- </div> -->
    <!-- {% endfor %} -->


    {% for post in page_obj %}
    
    <div>
    <hr style="color: gold;">
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <p>Published: {{ post.published|date:'d.m.Y H.i.s' }}</p>
    <p><a href="{% url 'by_category' post.category.pk %}">{{ post.category.category_name }}</a></p>
    </div>
    
                
    {% endfor %}

    <div class="pagination" style="text-align: center;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}